test_5_21_4/javasource/
test_5_21_4/deployment/
test_5_21_4/.classpath
test_5_21_4/.project
test_5_21_4/theme/
test_5_21_4/userlib/
test_5_21_4/.classpath
test_5_21_4/.project

test_6_10_8/javasource/
test_6_10_8/deployment/
test_6_10_8/.classpath
test_6_10_8/.project
test_6_10_8/theme/
test_6_10_8/userlib/
test_6_10_8/.classpath
test_6_10_8/.project
*.launch
*.tmp
*.lock
.idea/

dist/

node_modules/
.editorconfig
*DS_Store*
.vscode/
*.bak
